.marker_select_container {
  display: flex;
  align-items: center;
  ;
  justify-content: center;
  gap: 5px;
  padding-top: 5px;
}

.select {
  border-radius: 5px;
  padding: 3px;
  min-width: 125px;
}